<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDA96MglxKz6dtGKqF2_3rra4ez9arYLR8</string>
	<key>GCM_SENDER_ID</key>
	<string>1048070734575</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.qua.sp4n6sm4rt1q</string>
	<key>PROJECT_ID</key>
	<string>app255-a26ed</string>
	<key>STORAGE_BUCKET</key>
	<string>app255-a26ed.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1048070734575:ios:d646b17ace2c68298e511a</string>
</dict>
</plist>